<app-navigation> </app-navigation>
<div class="content">
    <div class="page-content">
        <h1> ALL MATCHES </h1>
        <div>
            <div class="TeamHeader">
                <div class="team-header"> Home Team </div>
                <div class="team-header"> Visitor Team </div>
                <div class="team-header"> Final score  </div>
                <div class="team-header"> Start Date </div>
            </div>

            <div class="TeamDisplay" id="TeamDisplay">
                <ng-template ngFor let-item [ngForOf]="matchList" let-i="index">
                    <div class="team-item"> {{ matchList[i].home }}</div>
                    <div class="team-item"> {{ matchList[i].visitor }}</div>
                    <div class="team-item-result"> 
                    <div> {{ matchList[i].home_goals }} </div>
                    <div> - </div>
                    <div> {{ matchList[i].visitor_goals }} </div>
                    </div> 
                    <div class="team-item"> {{ matchList[i].date }} </div>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="page-content">
            <h1> Add Player to team</h1>
            <form class="playerForm" (submit)="addPlayerSubmit()">


                    <mat-form-field>
                            <mat-select id='jersey' placeholder="SELECT HOME TEAM" (change)="updateJersey($event)" required>
                                <mat-option id="3" value="1">1</mat-option>
                                <mat-option id="3" value="2">2</mat-option>
                                <mat-option id="3" value="3">3</mat-option>
                            </mat-select>
                        </mat-form-field>

                <mat-form-field>
                        <mat-select id='jersey' placeholder="SELECT VISITOR TEAM" (change)="updateJersey($event)" required>
                            <mat-option id="3" value="1">1</mat-option>
                            <mat-option id="3" value="2">2</mat-option>
                            <mat-option id="3" value="3">3</mat-option>
                        </mat-select>
                    </mat-form-field>


                
                    <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="CHOOSE A DATE">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker startView="month" [startAt]="startDate"></mat-datepicker>
                          </mat-form-field>
                          
   

                <button type="submit">Add Match</button>
            </form>
        </div>
</div>