<app-navigation> </app-navigation>
<div class="content">
    <div class="page-content">
        <h1> ALL MATCHES </h1>
        <div>
            <div class="TeamHeader">
                <div class="team-header"> Home Team </div>
                <div class="team-header"> Visitor Team </div>
                <div class="team-header"> Final score  </div>
                <div class="team-header"> Start Date </div>
            </div>

            <div class="TeamDisplay" id="TeamDisplay">
                <ng-template ngFor let-item [ngForOf]="matchList" let-i="index">
                    <div class="team-item"> {{ matchList[i].home }}</div>
                    <div class="team-item"> {{ matchList[i].visitor }}</div>
                    <div class="team-item-result"> 
                    <div> {{ matchList[i].home_goals }} </div>
                    <div> - </div>
                    <div> {{ matchList[i].visitor_goals }} </div>
                    </div> 
                    <div class="team-item"> {{ matchList[i].date }} </div>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="page-content">
            <h1> Add Player to team</h1>
            <form class="playerForm" (submit)="addPlayerSubmit()">
                <input id="firstName" type="text" class="form-control" placeholder="First Name" required
                    (change)="updateFirstName($event)" />
                <input id="surname" type="text" class="form-control" placeholder="Surname" required
                    (change)="updateSurname($event)" />

                <select id="home" required autoFocus (change)="updateHomeTeam($event)">
                    <option id="Forward">Forward</option>
                    <option id="Defender">Defender</option>
                    <option id="Goalie">Goalie</option>
                </select>

                <select id="visitor" required autoFocus (change)="updateVisitorTeam($event)">
                    <option id="F">1</option>
                    <option id="D">2</option>
                    <option id="F">3</option>
                </select>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Add Match</button>
            </form>
        </div>
</div>