<div id='navigation' class='navigation'>
    <ng-container *ngIf="user!==null">
        <div class='welcome'>
            no notifications
        </div>
    </ng-container>
    <div class='navigation-list'>
        <ng-container *ngIf="user===null">
            <ul class='login-register'>
                <li><span class='league'></span> <a href='/login'>Login</a></li>
                <li><span class='rankings'></span> <a href='/register'>Register</a></li>
            </ul>
        </ng-container>

        <ng-container *ngIf="user">
            <ul>
                <li><span class="user"></span> <i class="material-icons user-icon icon-align">receipt</i> Edit profile</li>
            </ul>
            <ng-container *ngIf="user.authLevel===1||user.authLevel===2">
                <ul>
                    <li><span class="admin"></span> <i class="material-icons admin-icon icon-align">people_alt</i> Manage users </li>
                    <li><span class="admin"></span> <i class="material-icons admin-icon icon-align">pages</i> Manage league </li>
                    <li><span class="admin"></span> <i class="material-icons admin-icon icon-align">receipt</i> Manage teams </li>
                    <li><span class="admin"></span> <i class="material-icons admin-icon icon-align">watch_later</i> <a href="/admin/matches/">Manage Match schedule</a> </li>
                </ul>
            </ng-container>
            <ul>
                <li><span class="league"></span> <i class="material-icons league-icon icon-align">dashboard</i> <a href='/team/list'> Browse Teams</a> </li>
                <li><span class="league"></span> <i class="material-icons league-icon icon-align">assignment</i> Match schedule </li>
            </ul>

            <ul>
                <li><span class="rankings"></span> <i class="material-icons rankings-icon icon-align">equalizer</i> Team rankings </li>
                <li><span class="rankings"></span> <i class="material-icons rankings-icon icon-align">casino</i> Player leaderboards</li>
            </ul>

            <ul>
                <li><span class='discussion'></span> <i class="material-icons discussion-icon icon-align">chat</i><a href="/discussion">Discussion board</a></li>
            </ul>

            <ul>
                <li><span class='logout'></span> <i class="material-icons logout-icon icon-align">power_settings_new</i> <a href='/logout'>Logout</a></li>
            </ul>
        </ng-container>
    </div>

</div>