.navigation {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(34, 34, 34);
    height: 100%;
    width: 250px;
}

.welcome {
    color: #FFF;
    background-color: rgb(31, 103, 197);
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 9px;
}

.panel {
    color: #FFF;
    background-color: rgb(31, 103, 197);
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    margin: 0;
    padding: 0px;
}

.navigation-list ul {
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-list li {
    background-color: rgb(19, 19, 19);
    border-bottom: 1px solid #666;
    line-height: 36px !important;
    padding: 4px 0 0 9px;
    color: #FFF;
}

.navigation-list li:first-child {
    border-top: 1px solid #666;
}

.navigation-list li:last-child {
    border-bottom: 0;
}

.title {
    background-color: rgb(24, 67, 124) !important;
    font-weight: bold;
    text-transform: uppercase;
    padding: 9px;
}

li a:link {
    color: #FFF !important;
    text-decoration: none;
}

li a:visited {
    color: #FFF !important;
}

li {
    text-transform: uppercase !important;
    font-size: 0.8em !important;
}

.league {
    position: relative;
    min-width: 64px;
    min-height: 64px;
    border-radius: 2px;
    border: 1px solid rgb(0, 177, 15);
    margin-right: 4px;
}

.league-icon {
    color: rgb(0, 177, 15);
}


.discussion {
    position: relative;
    min-width: 64px;
    min-height: 64px;
    border: 1px solid rgb(255, 14, 163);
    margin-right: 4px;
}

.discussion-icon {
    color: rgb(255, 14, 163);
}

.logout {
    background-color:rgb(255, 0, 0);
    border: 1px solid rgb(255, 0, 0);
    margin-right: 4px;
}

.logout-icon {
    color: rgb(255, 60, 60);
}

.user {
    position: relative;
    min-width: 64px;
    min-height: 64px;
    width: 64px;
    height: 64px;
    border: 1px solid rgb(255, 136, 0);
    margin-right: 4px;
}

.user-icon {
    color:rgb(255, 136, 0);
}

.user-icon {
    color: rgb(255, 136, 0);
  }

.rankings {
    position: relative;
    min-width: 64px;
    min-height: 64px;
    border: 1px solid rgb(0, 159, 252);
    margin-right: 4px;
}

.rankings-icon {
    color: rgb(0, 159, 252);
  }

.admin {
    position: relative;
    min-width: 64px;
    min-height: 64px;
    border: 1px solid rgb(227, 252, 0);
    margin-right: 4px;
}

.admin-icon {
    color: rgb(227, 252, 0);
  }


.login-register {
    margin-top: 18px !important;
}

.login-register li {
    font-size: 1em !important;
    padding: 18px;
}

.icon-align {
    margin-left: 4px;
    padding-bottom: 2px;
}