.content {
    display: grid;
    grid-gap: 1cm;
    margin-left: 250px;
    margin-top: 48px;
    padding: 24px;
}

.page-content {
    margin: 0 auto;
    color: rgb(46, 46, 46);
    padding: 24px;
    background-color: #FFF;
    justify-content: center;
    align-content: center;
}