h1 {
    background-color: #18437c;
    color: #FFF;
    font-size: 18px;
    text-transform: uppercase;
    padding: 9px;
    margin: 0 0 18px 0;
}

.content {
    margin-top: 0;
}

.page-content {
    margin: 0 0 0 20px;
    width: 95%;
    padding: 19px 19px 19px 19px;
}
