h1 {
    background-color: #18437c;
    color: #FFF;
    font-size: 18px;
    text-transform: uppercase;
    padding: 9px;
    margin: 0 0 18px 0;
}

.content {
    margin-top: 0;
}

.page-content {
    margin: 0 0 0 20px;
    width: 95%;
    padding: 19px 19px 19px 19px;
}

.TeamDisplay {
    display: grid;
    grid-template-columns: 35% 35% 15% 15%;
    width: 100%;
    border-top: 1px solid #666;
}

.TeamHeader {
    display: grid;
    grid-template-columns: 35% 35% 15% 15%;
    width: 100%;
}

.team-item {
    min-height: 24px;
    line-height: 24px;
    padding: 9px;
}

.team-item a {
    text-decoration: none;
    border: 0;
    border-radius: 4px;
    color: #fff;
    background-color: #18437c;
    padding: 4px 9px 4px 9px;
}

.team-header {
    padding: 9px;
    font-weight: bold;
    text-transform: uppercase;
}

.createTopicForm {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 18px;
}

.createTopicForm input[type="text"] {
    padding: 9px;
}

.createTopicForm select {
    padding: 9px;
}

.teamManagerForm {
    display: grid;
    grid-template-columns: 50% 20%;
    grid-gap: 18px;
}

.teamManagerForm input[type="text"] {
    padding: 9px;
}

.teamManagerForm select {
    align-content: center;
    justify-content: center;
    padding: 9px !important;
    margin-top: 18px;
    height: 48px;
}

.topic-category {
    background-color: rgb(26, 69, 119);
    border-radius: 8px;
    font-size: 0.9em;
    color: #FFF;
    padding: 9px;
}