h1 {
    background-color: #18437c;
    color: #FFF;
    font-size: 18px;
    text-transform: uppercase;
    padding: 9px;
    margin: 0 0 18px 0;
}

.page-content {
    margin: 0 0 0 20px;
    width: 95%;
    padding: 19px 19px 19px 19px;
}

.TeamDisplay {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
    border-top: 1px solid #666;
}

.TeamHeader {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
}

.team-item {
    min-height: 24px;
    line-height: 24px;
    border-bottom: 1px solid #666;
    padding: 9px;
}

.team-item a {
    text-decoration: none;
    border: 0;
    border-radius: 4px;
    color: #fff;
    background-color: #18437c;
    padding: 4px 9px 4px 9px;
}

.team-header {
    padding: 9px;
    font-weight: bold;
    text-transform: uppercase;
}

.playerForm {
    display: grid;
    grid-template-columns: 29% 29% 15% 15%;
    grid-gap: 18px;
}

.playerForm input[type="text"] {
    padding: 9px;
}

.playerForm select {
    padding: 9px;
}

.managerForm {
    display: grid;
    grid-template-columns: 75% 15%;
    grid-gap: 18px;
}

.managerForm input[type="text"] {
    padding: 9px;
}

.managerForm select {
    padding: 9px;
}
