
h1 {
    text-align: center;
    text-transform: uppercase;
}

.title {
    display: grid;
    justify-items: center;
    font-weight: bold;
    text-transform: uppercase;
}

.content {
    display: grid;
    width: 100%;
    margin-top: 48px;
}

.content-page {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
}