.content {
    display: grid;
    background-color: blueviolet;
    margin-top: 48px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

.title {
    display: grid;
    font-weight: bold;
    justify-items: center;
    text-transform: uppercase;
}

.content-page {
    display: grid;
    justify-content: center;
    align-content: center;
}