<div>

  <div class="container">

      <h1> Hockey App </h1>
    <form class="form-signup" (submit)="handleSubmit()">
      <h2 class="form-signup-heading">Please sign up</h2>
      <label for="username"> Username </label>
      <input id='username' type="text" class="form-control" placeholder="Email address" required autoFocus
        (change)="handleUsernameChange($event)" />

      <label for="password"> Password </label>
      <input type="password" id='password' class="form-control" placeholder="Password" required
        (change)="handlePasswordChange($event)" />

      <label class="checkbox"> <input type="checkbox" value="remember-me" (change)="handleRememberMeClick()" /> &nbsp;
        Remember me </label>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
  </div>

</div>