<app-navigation> </app-navigation>
<div class="content">
  <div class="page-content">
    <h1> Create YALM account </h1>
    <form class="form-signup" (submit)="handleSubmit()">
      <div class='form-holder'>
        <label for="firstname"> First Name </label>
        <input type="firstname" id='firstname' class="form-control" placeholder="First Name" />

        <label for="surname"> Surname </label>
        <input type="surname" id='surname' class="form-control" placeholder="surname" required />

        <label for="username"> Username </label>
        <input id='username' type="text" class="form-control" placeholder="Email address" required
          (change)="handleUsernameChange($event)" />

        <label for="password"> Password </label>
        <input type="password" id='password' class="form-control" placeholder="Password" required
          (change)="handlePasswordChange($event)" />
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
  </div>

</div>